<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="hibernateContext.xml" />

    <context:annotation-config />

    <!-- JavaFX Controller beans -->
    <bean id="loginController" class="com.crowvalley.tawelib.controller.LoginController" >
        <property name="userService" ref="userService" />
        <property name="librarianService" ref="librarianService" />
    </bean>

    <bean id="librarianHomeController" class="com.crowvalley.tawelib.controller.librarian.LibrarianHomeController" >
        <property name="resourcesTabController" ref="librarianResourcesTabController" />
        <property name="loansTabController" ref="librarianLoansTabController" />
        <property name="usersTabController" ref="librarianUsersTabController" />
        <property name="finesAndPaymentsTabController" ref="librarianFinesAndPaymentsTabController" />
        <property name="profileTabController" ref="librarianProfileTabController" />
        <property name="logOutController" ref="librarianLogOutController" />
    </bean>

    <bean id="librarianResourcesTabController" class="com.crowvalley.tawelib.controller.librarian.LibrarianResourcesTabController" >
        <property name="bookService" ref="bookService" />
        <property name="dvdService" ref="dvdService" />
        <property name="laptopService" ref="laptopService" />
    </bean>

    <bean id="addResourceController" class="com.crowvalley.tawelib.controller.librarian.resources.AddResourceController" >
        <property name="bookService" ref="bookService" />
        <property name="dvdService" ref="dvdService" />
        <property name="laptopService" ref="laptopService" />
    </bean>

    <bean id="viewResourceAndCopiesController" class="com.crowvalley.tawelib.controller.librarian.resources.ViewResourceAndCopiesController" >
        <property name="copyService" ref="copyService" />
        <property name="loanService" ref="loanService" />
    </bean>

    <bean id="editResourceController" class="com.crowvalley.tawelib.controller.librarian.resources.EditResourceController" >
        <property name="bookService" ref="bookService" />
        <property name="dvdService" ref="dvdService" />
        <property name="laptopService" ref="laptopService" />
    </bean>

    <bean id="librarianLoansTabController" class="com.crowvalley.tawelib.controller.librarian.LibrarianLoansTabController" >
        <property name="loanService" ref="loanService" />
        <property name="copyService" ref="copyService" />
        <property name="bookService" ref="bookService" />
        <property name="dvdService" ref="dvdService" />
        <property name="laptopService" ref="laptopService" />
    </bean>
    
    <bean id="librarianUsersTabController" class="com.crowvalley.tawelib.controller.librarian.LibrarianUsersTabController" >
        <property name="userService" ref="userService" />
        <property name="fineService" ref="fineService" />
        <property name="paymentService" ref="paymentService" />
    </bean>

    <bean id="addNewUserController" class="com.crowvalley.tawelib.controller.librarian.users.AddNewUserController" >
        <property name="userService" ref="userService" />
    </bean>

    <bean id="viewOrEditUserController" class="com.crowvalley.tawelib.controller.librarian.users.ViewOrEditUserController" >
        <property name="userService" ref="userService" />
    </bean>

    <bean id="librarianFinesAndPaymentsTabController" class="com.crowvalley.tawelib.controller.librarian.LibrarianFinesAndPaymentsTabController" >
        <property name="fineService" ref="fineService" />
        <property name="paymentService" ref="paymentService" />
    </bean>

    <bean id="librarianProfileTabController" class="com.crowvalley.tawelib.controller.librarian.LibrarianProfileTabController" >
        <property name="librarianService" ref="librarianService" />
    </bean>

    <bean id="librarianLogOutController" class="com.crowvalley.tawelib.controller.librarian.LibrarianLogOutController" />

    <!-- Service beans -->
    <bean id="bookService" class="com.crowvalley.tawelib.service.BookServiceImpl">
        <property name="DAO" ref="bookDAO"/>
    </bean>

    <bean id="laptopService" class="com.crowvalley.tawelib.service.LaptopServiceImpl">
        <property name="DAO" ref="laptopDAO"/>
    </bean>

    <bean id="dvdService" class="com.crowvalley.tawelib.service.DvdServiceImpl">
        <property name="DAO" ref="dvdDAO"/>
    </bean>

    <bean id="copyService" class="com.crowvalley.tawelib.service.CopyServiceImpl">
        <property name="DAO" ref="copyDAO"/>
    </bean>

    <bean id="userService" class="com.crowvalley.tawelib.service.UserServiceImpl">
        <property name="DAO" ref="userDAO"/>
    </bean>

    <bean id="librarianService" class="com.crowvalley.tawelib.service.LibrarianServiceImpl">
        <property name="DAO" ref="librarianDAO"/>
    </bean>

    <bean id="loanService" class="com.crowvalley.tawelib.service.LoanServiceImpl">
        <property name="DAO" ref="loanDAO"/>
    </bean>

    <bean id="fineService" class="com.crowvalley.tawelib.service.FineServiceImpl">
        <property name="DAO" ref="fineDAO"/>
    </bean>

    <bean id="paymentService" class="com.crowvalley.tawelib.service.PaymentServiceImpl">
        <property name="DAO" ref="paymentDAO"/>
    </bean>

    <!-- DAO beans -->
    <bean id="bookDAO" class="com.crowvalley.tawelib.dao.BookDAOImpl"/>
    <bean id="laptopDAO" class="com.crowvalley.tawelib.dao.LaptopDAOImpl"/>
    <bean id="dvdDAO" class="com.crowvalley.tawelib.dao.DvdDAOImpl"/>
    <bean id="copyDAO" class="com.crowvalley.tawelib.dao.CopyDAOImpl"/>
    <bean id="userDAO" class="com.crowvalley.tawelib.dao.UserDAOImpl"/>
    <bean id="librarianDAO" class="com.crowvalley.tawelib.dao.LibrarianDAOImpl"/>
    <bean id="loanDAO" class="com.crowvalley.tawelib.dao.LoanDAOImpl"/>
    <bean id="fineDAO" class="com.crowvalley.tawelib.dao.FineDAOImpl"/>
    <bean id="paymentDAO" class="com.crowvalley.tawelib.dao.PaymentDAOImpl"/>

</beans>