<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="hibernateContext.xml"/>

    <context:annotation-config/>

    <!-- JavaFX Controller beans -->
    <bean id="loginController" class="com.crowvalley.tawelib.controller.LoginController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="librarianHomeController" class="com.crowvalley.tawelib.controller.librarian.LibrarianHomeController">
        <property name="resourcesTabController" ref="librarianResourcesTabController"/>
        <property name="loansTabController" ref="librarianLoansTabController"/>
        <property name="usersTabController" ref="librarianUsersTabController"/>
        <property name="finesAndPaymentsTabController" ref="librarianFinesAndPaymentsTabController"/>
        <property name="profileTabController" ref="librarianProfileTabController"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="librarianResourcesTabController"
          class="com.crowvalley.tawelib.controller.librarian.LibrarianResourcesTabController">
        <property name="resourceService" ref="resourceService"/>
    </bean>

    <bean id="addResourceController"
          class="com.crowvalley.tawelib.controller.librarian.resources.AddResourceController">
        <property name="resourceService" ref="resourceService"/>
    </bean>

    <bean id="viewResourceController"
          class="com.crowvalley.tawelib.controller.librarian.resources.ViewResourceController">
        <property name="copyService" ref="copyService"/>
        <property name="loanService" ref="loanService"/>
    </bean>

    <bean id="addCopyController" class="com.crowvalley.tawelib.controller.librarian.resources.AddCopyController">
        <property name="resourceService" ref="resourceService"/>
    </bean>

    <bean id="viewCopyRequestsController"
          class="com.crowvalley.tawelib.controller.librarian.resources.ViewCopyRequestsController">
        <property name="copyService" ref="copyService"/>
        <property name="loanService" ref="loanService"/>
    </bean>

    <bean id="editResourceController"
          class="com.crowvalley.tawelib.controller.librarian.resources.EditResourceController">
        <property name="resourceService" ref="resourceService"/>
    </bean>

    <bean id="librarianLoansTabController"
          class="com.crowvalley.tawelib.controller.librarian.LibrarianLoansTabController">
        <property name="loanService" ref="loanService"/>
        <property name="copyService" ref="copyService"/>
    </bean>

    <bean id="newLoanController" class="com.crowvalley.tawelib.controller.librarian.loans.NewLoanController">
        <property name="resourceService" ref="resourceService"/>
        <property name="copyService" ref="copyService"/>
        <property name="userService" ref="userService"/>
        <property name="loanService" ref="loanService"/>
    </bean>

    <bean id="librarianUsersTabController"
          class="com.crowvalley.tawelib.controller.librarian.LibrarianUsersTabController">
        <property name="userService" ref="userService"/>
        <property name="transactionService" ref="transactionService"/>
    </bean>

    <bean id="addNewUserController" class="com.crowvalley.tawelib.controller.librarian.users.AddNewUserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="viewOrEditUserController"
          class="com.crowvalley.tawelib.controller.librarian.users.ViewOrEditUserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="librarianFinesAndPaymentsTabController"
          class="com.crowvalley.tawelib.controller.librarian.LibrarianFinesAndPaymentsTabController">
        <property name="transactionService" ref="transactionService"/>
        <property name="loanService" ref="loanService"/>
        <property name="copyService" ref="copyService"/>
    </bean>

    <bean id="recordPaymentController"
          class="com.crowvalley.tawelib.controller.librarian.finesandpayments.RecordPaymentController">
        <property name="transactionService" ref="transactionService"/>
    </bean>

    <bean id="librarianProfileTabController"
          class="com.crowvalley.tawelib.controller.librarian.LibrarianProfileTabController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="librarianLogOutController" class="com.crowvalley.tawelib.controller.librarian.LibrarianLogOutController"/>

    <bean id="userHomeController" class="com.crowvalley.tawelib.controller.user.UserHomeController">
        <property name="transactionService" ref="transactionService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="userProfileController" class="com.crowvalley.tawelib.controller.user.UserProfileController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="userBrowseResourcesController"
          class="com.crowvalley.tawelib.controller.user.UserBrowseResourcesController">
        <property name="resourceService" ref="resourceService"/>
    </bean>

    <bean id="userLoansController" class="com.crowvalley.tawelib.controller.user.UserLoansController">
        <property name="copyService" ref="copyService"/>
        <property name="loanService" ref="loanService"/>
    </bean>

    <bean id="userFinesAndPaymentsController"
          class="com.crowvalley.tawelib.controller.user.UserFinesAndPaymentsController">
        <property name="transactionService" ref="transactionService"/>
        <property name="loanService" ref="loanService"/>
        <property name="copyService" ref="copyService"/>
    </bean>

    <bean id="userViewResourceController" class="com.crowvalley.tawelib.controller.user.UserViewResourceController">
        <property name="loanService" ref="loanService"/>
        <property name="copyService" ref="copyService"/>
    </bean>

    <!-- Service beans -->
    <bean id="copyService" class="com.crowvalley.tawelib.service.CopyServiceImpl">
        <property name="copyDAO" ref="copyDAO"/>
        <property name="loanService" ref="loanService"/>
    </bean>

    <bean id="loanService" class="com.crowvalley.tawelib.service.LoanServiceImpl">
        <property name="loanDAO" ref="loanDAO"/>
        <property name="copyService" ref="copyService"/>
        <property name="transactionService" ref="transactionService"/>
    </bean>

    <bean id="resourceService" class="com.crowvalley.tawelib.service.ResourceServiceImpl">
        <property name="resourceDAO" ref="resourceDAO"/>
    </bean>

    <bean id="transactionService" class="com.crowvalley.tawelib.service.TransactionServiceImpl">
        <property name="transactionDAO" ref="transactionDAO"/>
        <property name="loanService" ref="loanService"/>
        <property name="copyService" ref="copyService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="userService" class="com.crowvalley.tawelib.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <!-- DAO beans -->
    <bean id="baseDAO" class="com.crowvalley.tawelib.dao.BaseDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="copyDAO" parent="baseDAO" class="com.crowvalley.tawelib.dao.CopyDAOImpl"/>

    <bean id="loanDAO" parent="baseDAO" class="com.crowvalley.tawelib.dao.LoanDAOImpl"/>

    <bean id="resourceDAO" parent="baseDAO" class="com.crowvalley.tawelib.dao.ResourceDAOImpl"/>

    <bean id="transactionDAO" parent="baseDAO" class="com.crowvalley.tawelib.dao.TransactionDAOImpl"/>

    <bean id="userDAO" parent="baseDAO" class="com.crowvalley.tawelib.dao.UserDAOImpl"/>

</beans>